@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;

    --background: 0 0% 100%;
    --foreground: 180 4% 5%;

    --card: 0 0% 100%;
    --card-foreground: 180 4% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 180 4% 5%;

    --primary: 207 91% 64%;
    --primary-foreground: 0 0% 2%;

    --secondary: 210 16% 93%;
    --secondary-foreground: 180 4% 5%;

    --muted: 240 7% 97%;
    --muted-foreground: 210 3% 40%;

    --accent: 240 7% 97%;
    --accent-foreground: 180 4% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 11% 93%;
    --input: 204 16% 87%;
    --ring: 207 45% 72%;

    --radius: 0.5rem;
  }

  .dark {
    color-scheme: dark;

    --background: 210 11% 7%;
    --foreground: 206 14% 90%;

    --card: 210 9% 9%;
    --card-foreground: 206 14% 90%;

    --popover: 210 9% 9%;
    --popover-foreground: 206 14% 90%;

    --primary: 208 80% 52%;
    --primary-foreground: 0 0% 98%;

    --secondary: 207 24% 16%;
    --secondary-foreground: 206 14% 90%;

    --muted: 208 18% 14%;
    --muted-foreground: 206 8% 60%;

    --accent: 210 19% 14%;
    --accent-foreground: 206 14% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 207 10% 17%;
    --input: 208 10% 25%;
    --ring: 208 50% 45%;
  }

  .discord-dark {
    color-scheme: dark;

    --background: 217.5 9.09% 17.25%;
    --foreground: 334 34% 98%;

    --card: 210 9.09% 12.94%;
    --card-foreground: 334 34% 98%;

    --popover: 210 9.09% 12.94%;
    --popover-foreground: 334 34% 98%;

    --primary: 226.73 58.43% 65.1%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214.29 5.04% 27.25%;
    --secondary-foreground: 334 0% 100%;

    --muted: 210 9.09% 12.94%;
    --muted-foreground: 334 0% 60.77%;

    --accent: 217.5 9.09% 17.25%;
    --accent-foreground: 226.73 58.43% 65.1%;

    --destructive: 0 86.89% 48.16%;
    --destructive-foreground: 0 0% 0%;

    --border: 334 0% 18.46%;
    --input: 214.29 5.04% 27.25%;
    --ring: 217.5 9.09% 17.25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* extra helper classes to account for mobile safe areas */
  .p-safe {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pb-safe-or-4 {
    padding-bottom: max(env(safe-area-inset-bottom), 1rem);
  }

  .pl-safe {
    padding-left: env(safe-area-inset-right);
  }

  .m-safe {
    margin: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .mx-safe {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }

  .my-safe {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
  }

  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }

  .mr-safe {
    margin-right: env(safe-area-inset-right);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }

  .ml-safe {
    margin-left: env(safe-area-inset-right);
  }

  .top-safe {
    top: 0;
    top: env(safe-area-inset-top);
  }

  .right-safe {
    right: 0;
    right: env(safe-area-inset-right);
  }

  .bottom-safe {
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
  }

  .left-safe {
    left: 0;
    left: env(safe-area-inset-right);
  }
}

@media screen and (max-width: 767px) {
  select,
  textarea,
  input[type='text'],
  input[type='number'],
  input {
    font-size: 16px !important;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
}

body[style] {
  margin-right: 0px !important;
}

.DropdownMenuContent {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.PopoverContent {
  transform-origin: var(--radix-popover-content-transform-origin);
  animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.driver-popover.driverjs-theme {
  @apply bg-card md:min-w-[500px];
}

.driver-popover.driverjs-theme .driver-popover-title {
  @apply scroll-m-20 border-b pb-2 text-xl font-semibold tracking-tight first:mt-0 sm:text-2xl;
}

.driver-popover.driverjs-theme .driver-popover-description {
  @apply text-base leading-7 md:text-lg [&:not(:first-child)]:mt-3;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  @apply px-2 text-primary-foreground;
}

.driver-popover.driverjs-theme button {
  text-align: center;
  text-shadow: none;
  border-radius: 6px;
  @apply border border-input bg-card text-sm text-primary-foreground shadow-sm sm:text-base;
}

.driver-popover.driverjs-theme button:hover {
  @apply bg-card text-primary-foreground;
}

.driver-popover.driverjs-theme button:focus {
  @apply bg-card text-primary-foreground;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  flex: 1;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  @apply bg-card text-primary-foreground sm:text-xl;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  @apply bg-card text-primary-foreground;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-left.driver-popover-arrow {
  @apply border-l-card;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-right.driver-popover-arrow {
  @apply border-r-card;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-top.driver-popover-arrow {
  @apply border-t-card;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-bottom.driver-popover-arrow {
  @apply border-b-card;
}
