@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 4% 5%;

    --card: 0 0% 100%;
    --card-foreground: 180 4% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 180 4% 5%;

    --primary: 207 91% 64%;
    --primary-foreground: 0 0% 2%;

    --secondary: 210 16% 93%;
    --secondary-foreground: 180 4% 5%;

    --muted: 240 7% 97%;
    --muted-foreground: 210 3% 40%;

    --accent: 240 7% 97%;
    --accent-foreground: 180 4% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 11% 93%;
    --input: 204 16% 87%;
    --ring: 207 45% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 11% 7%;
    --foreground: 206 14% 90%;

    --card: 210 9% 9%;
    --card-foreground: 206 14% 90%;

    --popover: 210 9% 9%;
    --popover-foreground: 206 14% 90%;

    --primary: 208 80% 52%;
    --primary-foreground: 0 0% 98%;

    --secondary: 207 24% 16%;
    --secondary-foreground: 206 14% 90%;

    --muted: 208 18% 14%;
    --muted-foreground: 206 8% 60%;

    --accent: 210 19% 14%;
    --accent-foreground: 206 14% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 207 10% 17%;
    --input: 208 10% 25%;
    --ring: 208 50% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  /* extra helper classes to account for mobile safe areas */
  .p-safe {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pl-safe {
    padding-left: env(safe-area-inset-right);
  }

  .m-safe {
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .mx-safe {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }

  .my-safe {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
  }

  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }

  .mr-safe {
    margin-right: env(safe-area-inset-right);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }

  .ml-safe {
    margin-left: env(safe-area-inset-right);
  }

  .top-safe {
    top: 0;
    top: env(safe-area-inset-top);
  }

  .right-safe {
    right: 0;
    right: env(safe-area-inset-right);
  }

  .bottom-safe {
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
  }

  .left-safe {
    left: 0;
    left: env(safe-area-inset-right);
  }
}

@media screen and (max-width: 767px) {

  select,
  textarea,
  input[type='text'],
  input[type='number'],
  input {
    font-size: 16px !important;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
}

body[style] {
  margin-right: 0px !important;
}